<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Organizer</title>
    <link rel="stylesheet" href="./assets/style.css">
</head>
<body>

    <img src="./assets/img/onepiece.png" alt="One piece logo" id="logo">
    <div id="container">
        
        <h1>Organize Tournaments for your store!</h1>

        <div id="index_btns">
            <button>New Tournament</button>
            <a href="SPA/playerList.html"><button>Player</button></a>
            <a href="SPA/tournamentlist.html"><button>Tournaments</button></a>
        </div>
        
        <div id="previous">
            <h1>Previous tournaments</h1>
            <div class="ptournament">

                    <div class="infoPT">
                        <p class="bold">Tournament</p>
                        <p class="notbold">Store Tournament #1</p>
                    </div>
                    <div class="infoPT">
                        <p class="bold">Winner</p>
                        <p class="notbold">Nickname</p>
                    </div>
                    <div class="infoPT">
                        <p class="bold">Points</p>
                        <p class="notbold">12</p>
                    </div>
                    <div class="infoPT">
                        <p class="bold">Players</p>
                        <p class="notbold">16</p>
                    </div>
                    <div class="infoPT">
                        <p class="bold">Date</p>
                        <p class="notbold">00/00/0000</p>
                    </div>
                    <div class="infoPT">
                        <button class="btn_previousT">View</button>
                    </div>

                <!-- Remove maybe 
                <table id="tableP">
                    <thead>
                        <tr>
                            <th>Tournament</th>
                            <th></th>
                            <th>Winner</th>
                            <th></th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tournament #01</td>
                            <td></td>
                            <td>Filipe</td>
                            <td></td>
                            <td>12/06/2024</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                -->
            </div>

            <div class="ptournament">
                <div class="infoPT">
                    <p class="bold">Tournament</p>
                    <p class="notbold">Store Tournament #3</p>
                </div>
                <div class="infoPT">
                    <p class="bold">Winner</p>
                    <p class="notbold">Nickname</p>
                </div>
                <div class="infoPT">
                    <p class="bold">Points</p>
                    <p class="notbold">12</p>
                </div>
                <div class="infoPT">
                    <p class="bold">Players</p>
                    <p class="notbold">16</p>
                </div>
                <div class="infoPT">
                    <p class="bold">Date</p>
                    <p class="notbold">00/00/0000</p>
                </div>
                <div class="infoPT">
                    <button class="btn_previousT">View</button>
                </div>
            </div>

            <div class="ptournament">
                <div class="infoPT">
                    <p class="bold">Tournament</p>
                    <p class="notbold">Store Tournament #2</p>
                </div>
                <div class="infoPT">
                    <p class="bold">Winner</p>
                    <p class="notbold">Nickname</p>
                </div>
                <div class="infoPT">
                    <p class="bold">Points</p>
                    <p class="notbold">12</p>
                </div>
                <div class="infoPT">
                    <p class="bold">Players</p>
                    <p class="notbold">16</p>
                </div>
                <div class="infoPT">
                    <p class="bold">Date</p>
                    <p class="notbold">00/00/0000</p>
                </div>
                <div class="infoPT">
                    <button class="btn_previousT">View</button>
                </div>
            </div>

        </div>

        

    </div>
    
    
</body>
</html>